.main {
  padding: 16px;
  background: #6510ff80;
}

.questionBox {
  display: flex;
  justify-content: center;
  width: 100%;
}

.question {
  padding: 16px 32px;
  background: #6208d0;
  font-size: 4em;
}

.stopBox {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 16px;
}

.stop {
  background: #707070;
  padding: 4px 8px;
}

.scoreBox {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 16px;
}

.score {
  padding: 8px 16px;
  background: #484848;
  color: #ffffff;
  font-size: 2em;
}

.match{
  padding: 8px 16px;
  border-radius: 8px;
  background: #2bff00;
}

.fail {
  padding: 8px 16px;
  border-radius: 8px;
  background: #ff2b40;
}

.retry {
  padding: 8px 16px;
  border-radius: 8px;
  background: #e0e028;
}
