.main {
  min-height: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background: #303030;
  color: #ffffffc0;
  font-size: 1.5em;
}

.button {
  padding: 2px 8px;
  background: #ffffff20;
}

.confidence {
  color: #ffffff40;
  font-size: 0.5em;
}
