.addBox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}

.addName {
  padding: 0 32px;
  margin: 0 16px;
  background: #ffffff30;
}

.listTitle {
  display: flex;
  align-items: center;
  margin-right: 4px;
  font-size: 1.2rem;
}

.listItem {
  display: flex;
  align-items: center;
}

.listName {
  padding: 0 8px;
  margin: 0 4px;
  background: #ffffff30;
}

.add {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid currentColor;
  margin: 4px;
  width: 1.4em;
  height: 1.4em;
  background: #20ff00;
}

.remove {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid currentColor;
  margin: 4px;
  width: 1.4em;
  height: 1.4em;
  background: #ff2b40;
  font-size: 0.6em;
}

.play {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid currentColor;
  margin: 4px;
  width: 1.4em;
  height: 1.4em;
  background: #8000ff;
  font-size: 1.3em;
}

