.wordBox {
  display: flex;
  justify-content: center;
  font-size: 1.8em;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 32px;
  margin: 0 8px;
  background: #ffffff30;
}

.remove {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;
  background: #ff2b40;
  font-height: 0.62em;
}

.add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.6em; 
  height: 1.6em; 
  background: #20ff00;
}

.word {
  display: flex;
}
