.wordBox {
  display: flex;
  justify-content: center;
  font-size: 1.8em;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 32px;
  margin: 0 8px;
  background: #ffffff30;
}

.remove {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  width: 1.0em;
  height: 1.0em;
  background: #ff2b40;
  font-size: 0.5em;
  line-height: 1.0em;
}

.add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.6em; 
  height: 1.6em; 
  background: #20ff00;
}

.title {
  color: #b0b0ff;
  font-size: 1.1em;
}

.list {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.word {
  display: flex;
  align-items: center;
}

.doneButton {
  padding: 2px;
  margin-left: 8px;
  background: #ffffff20;
  font-size: 0.5em;
  color: #e0e0e0;
}
